{% extends "blog/layout.html" %}
{% load static %}
{% block body %}

    <main>
        <h2 id="title_article">{{ article.title }}</h2>
        {{ article.content | safe }}
        <p class="lead sign"><i>Last update - {{ article.publication_date|date:"F dS, Y" }}</i></p>
    </main>

    <section class="reviews">
        {% for review in reviews %}
            <hr>
            <h5>{{ review.title_review }}</h5>
            {{review.notation}}
            <p class="text-muted"><i>@{{ review.author }} on {{ review.date_review|date:"F dS, Y" }}</i></p>
            <p class="lead"><i>{{ review.comment }}</i></p>
        {% empty %}
            <p class="lead">Be the first to add a review ⬇️🔥</p>
        {% endfor %}
    </section>

    <section>
        <h4>Add a review</h4>
        <form action="{% url 'article' article.id %}" method="POST">
            {% csrf_token %}

            <div id="add-review">
                <p class="lead">Rate<br>{{ form.notation }}</p>
                <p class="lead">Title<br>{{ form.title_review }}</p>
                <p class="lead">Comments<br>{{ form.comment }}</p>
            </div>

            <input type="submit" value="Eat me 🍕">
        </form>
    </section>

{% endblock %}