{% extends "blog/layout.html" %}
{% load static %}
{% block body %}


    <h2 class="title_page">Articles</h2>

    <main>
        <div id="cards">
            {% for bp in blogposts %}
                <div class="card" style="width: 18rem;">
                    <img src="{{ bp.image.url }}" class="card-img-top">
                    <div class="card-body">
                        <h5 class="mt-2">{{ bp.title }}</h5>
                        <p class="lead">{{ bp.content | safe |truncatechars:200 }}</p>
                        <p class="text-muted">{{ bp.publication_date }}</p>
                        {% for tag in bp.tags.names %}
                            <button class="tags">{{ tag }}</button>
                        {% endfor %}
                        <br><br><a href="{% url 'article' bp.id %}" class="btn btn-dark btn-sm">Read More</a>
                    </div>
                </div>
        

            {% empty %}
            <div class="card" style="width: 18rem;">
                <img src="{% static 'blog/tenor.gif' %}" class="card-img-top">
                <div class="card-body">
                    <h5 class="mt-2">😞</h5>
                    <p class="lead">No articles available, come back soon 🔥</p>
                </div>
            </div>

            {% endfor %}
        </div>
    </main>


{% endblock %}