{% extends "blog/layout.html" %}
{% load static %}
{% block cssfile %}
    <link rel="stylesheet" type="text/css" href="{% static 'account/css/forms.css' %}"/>
{% endblock %}

{% block body %}

    {% if message %}
        <p>{{ message }}</p>
    {% endif %}
    <h1>Login</h1>

    <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        {{ form }}
        <input type="submit">
    </form>

    <small><a href="{% url 'reset_password' %}">I forgot my password</a></small><br>
    <small><a href="{% url 'register' %}">Create Account</a></small>

{% endblock %}

